.column {
    float: left;
    width: 50%;
    }

    :host {
        display: block;
      }
      
      .item {
        margin-top: 10px;
        margin-bottom: 10px;
        cursor: pointer;
      }