<mat-card class="item" *ngIf="task" (dblclick)="edit.emit(task)">
  <mat-card-header>
    <mat-card-title>
      {{task.Nickname}}
    </mat-card-title>
    <mat-card-subtitle>{{task.Year}} {{task.Make}} {{task.Model}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
  <br>
    <div fxLayout="row" fxLayoutGap="15px">
      <p>Mileage: <strong>{{task.Mileage}}</strong></p>
      <p>Vin#: <strong>{{task.VinNumber}}</strong></p>
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
  <button mat-button (click)="edit.emit(task)">
    <mat-icon>edit</mat-icon>
  </button>
  </mat-card-actions>
</mat-card>

  