<div class="content-wrapper">
  <button (click)="newEvent()" mat-stroked-button color="primary">
    <mat-icon>add</mat-icon> Add Event
  </button>
    <mat-form-field *ngIf="!!cars">
      <mat-label>Car</mat-label>
      <mat-select [(ngModel)]="car">
        <mat-option>All</mat-option>
        <mat-option *ngFor="let car of cars" [value]="car.Nickname" >
          {{car.Nickname}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button class="submit-button" mat-raised-button color="primary" (click)="getNewCars()" color="accent">Submit</button>
  <div class="container-wrapper">
      <div class="container">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Upcoming Events
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-card
          id="future"
          class="list">
          <p class="empty-label" *ngIf="future.length === 0">No Events</p>
          <app-eventdetail (edit)="editEvent(future, false, $event)" *ngFor="let event of future" [event]="event"></app-eventdetail>
          </mat-card>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Past Events
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-card
          id="past"
          class="list">
          <p class="empty-label" *ngIf="past.length === 0">No Events</p>
          <app-eventdetail (edit)="editEvent(past, true, $event)" *ngFor="let event of past" [event]="event"></app-eventdetail>
          </mat-card>
        </mat-expansion-panel>
      </div>
  </div>
</div>
