<div class="content-wrapper">
  <button (click)="newEvent()" mat-button>
    <mat-icon>add</mat-icon> Add Event
  </button>
  <div class="container-wrapper">
      <div class="container">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Upcoming Events
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-card
          id="future"
          class="list">
          <p class="empty-label" *ngIf="future.length === 0">No Events</p>
          <app-eventdetail (edit)="editEvent(future,$event)" *ngFor="let event of future" [event]="event"></app-eventdetail>
          </mat-card>
        </mat-expansion-panel>


        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Past Events
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-card
          id="past"
          class="list">
          <p class="empty-label" *ngIf="past.length === 0">No Events</p>
          <app-eventdetail (edit)="editEvent(past,$event)" *ngFor="let event of past" [event]="event"></app-eventdetail>
          </mat-card>
        </mat-expansion-panel>
        <mat-card
        id="todo"
        class="list">
        <p class="empty-label" *ngIf="future.length === 0">No Events</p>
        <app-eventdetail (edit)="editEvent(todo,$event)" *ngFor="let event of todo" [event]="event"></app-eventdetail>
        </mat-card>
      </div>
  </div>
</div>
