
<!--
<p>login-page works!
    <button mat-button routerLink="/Dashboard" 
    routerLinkActive="active" ariaCurrentWhenActive="page" aria-hidden="false">Dashboard</button>
</p>
-->
<form class="example-form">
<mat-form-field class="example-full-width" appearance="fill">
<mat-label>User Name</mat-label>
<input matInput placeholder="Enter your name" name="usename"
[(ngModel)] ="username">
</mat-form-field>
<mat-form-field class="example-full-width" appearance="fill">
<mat-label>Password</mat-label>
<input matInput placeholder="Enter your password" value="" name="password" type="password" [(ngModel)]= "password">
</mat-form-field>
<button mat-raised-button color="primary" (click)="submit()"> Sign In </button>
<button mat-raised-button color="primary" *ngIf="connected" routerLink="/Dashboard" 
routerLinkActive="active" ariaCurrentWhenActive="page" aria-hidden="false">Dashboard</button>
</form>


<form class="example-form 2">
    <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>User Name</mat-label>
    <input matInput placeholder="Enter your name" name="usename"
    [(ngModel)] ="signupusername">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput placeholder="Enter your password" value="" name="password" type="password" [(ngModel)]= "signuppassword">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Confrim Password</mat-label>
        <input matInput placeholder="Confirm your password" value="" name="password2" type="password" [(ngModel)]= "password2">
        </mat-form-field>
    <button mat-raised-button color="primary" (click)="signUp()"> Sign Up </button>
    </form>