<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<p>
  <mat-toolbar color="primary">
    <!-- HOME -->
    <button mat-button routerLink="/Dashboard" 
    routerLinkActive="active" ariaCurrentWhenActive="page" aria-hidden="false">Dashboard</button>
    <button mat-button routerLink="/Events" 
    routerLinkActive="active" ariaCurrentWhenActive="page"> Events </button>
    <button mat-button > Price Analytics </button>
    <button mat-button> Resources </button>

    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logOut()">
        <mat-icon>logout</mat-icon>
        <span>Log Out</span>
      </button>
    </mat-menu>
  </mat-toolbar>
</p>
